.lifelinesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.iconsContainer {
  display: flex;
  align-items: center;
  min-width: 300px;
  height: 100px;
  justify-content: space-between;
}
.lifelinesHeading {
  margin-bottom: 50px;
}
