.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
}
.choosenItem {
  display: flex;
  flex-direction: column;
}
.iconsContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  justify-content: center;
}
